
.navbar
{
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  color: black;
  z-index: 1;

}


.main-carousel img

{
   width: 80px;


}

.resize img
{
   width: 120px;
}


.main-carousel 
{
   background-color: aliceblue;
   box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
   color: black;
 
}





.drop-shadow
{
   box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  color: black;  
}



.banner 
{
   background-color: rgb(68, 250, 174);
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: flex-end;
   margin-top: 29px;
   
   
}

.text
{
   position: absolute;
   left: 3.5vh;
   font-size: 25px;
}



.column {
   float: left;
   width: 25%;
   padding: 10px 10px;
  
 }
 
 
 .my-row {margin: 0 -5px;
}
 
 
 .my-row:after {
   content: "";
   display: table;
   clear: both;
 }
 

 
 
 /* Style the counter cards */
 .my-card {
   box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
   color: black;  
   padding: 16px;
   text-align: center;
   background-color: #f1f1f1;
 }

 a:link
 {   
     text-decoration: none;
    
 }
 
 .my-card a{
   color: rgb(224, 115, 115);
 }


 .my-card a:hover
 {
   color: rgb(224, 115, 115);
 }



 .my-card img{
    width: 95px;
    height: 95px;
 }

 .my-card
 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 23vh;
    
 }


 .my-card a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    letter-spacing: 0.5px;
    

 }


 .color{
    font-size: 23px;
    color: chartreuse;
 }


 .bold{
    color: rgb(44, 44, 44,0.8);

   
 }


 #text-formating{
    font-size: 28.5px;
    font-weight: 400;
    padding-left: 25px;
 }



 









.ad img{
   width: 300px;
}




.ad 
{ display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 8vh;
   font-family: 'Stick', sans-serif;
   background-color: #d8d7d7;
   flex-direction: row;
   box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  color: black;
   
   
}


.verticalLine {
   border-left: 0.6px solid #464545;
   height:36vh;
 }

.text-background{
   background-color: #c9c8c8;
   box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
   color: black;
   z-index: 1;
   margin: 15px;
   border: 10px;
   
}

.size{
   font-size: 15px;
  
}

.navbar-brand{
   letter-spacing: 3px;
}
/*footer*/

a .fab{
   margin: 10px;
  
}
 a .fa-instagram
{
   font-size: 1.6em;
   width: 1.6em;
   text-align: center;
   line-height: 1.6em;
   background: #666;
   color: #fff;
   border-radius: 0.8em; 
   transition: all 0.5s ease-in-out;
   

  
}

a .fa-instagram:hover
{
   background-color: rgb(238, 109, 109);
}



a .fa-facebook
{
   font-size: 1.6em;
   width: 1.6em;
   text-align: center;
   line-height: 1.6em;
   background: #666;
   color: #fff;
   border-radius: 0.8em; 
   transition: all 0.5s ease-in-out;

  
}

a .fa-facebook:hover
{
   background-color: rgb(109, 139, 238);
}




a .fa-twitter
{
   font-size: 1.6em;
   width: 1.6em;
   text-align: center;
   line-height: 1.6em;
   background: #666;
   color: #fff;
   border-radius: 0.8em; 
   transition: all 0.5s ease-in-out;

  
}

a .fa-twitter:hover
{
   background-color: rgb(15, 89, 248);
}


.Logo
{
   padding-left: 26.7px;
   height: 13vh;
}

.flex-container
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.Info 
{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 1vh;
   list-style-type: none;



}

.Info  li
{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin: 10px;
   font-size: 18px;
   
  
   
}
.Info li a{
   color: #464545;
   letter-spacing: 2px;
   transition: all 0.5s ease-in-out;

}


.Info li a:hover{
   color: #272626;
}


.Terms ul{
   display: flex;
   list-style: none;
   align-items: center;
   
}


.Terms ul li{
   margin: 10px;
   align-items: center;
   font-size: 18px;
   

}


.Terms ul li a{
   color: #464545;
   letter-spacing: 2px;
   transition: all 0.5s ease-in-out;
   
}


.Terms ul li a:hover
{ color: #272626;

}



.copy-right{
  color: #666;
  padding-left: 15px;
  letter-spacing: 4px;
}





footer{
   background-color: rgb(233, 238, 238);
}






/*footer*/



/*about-us*/
.center{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 40%;
   height: 50%;
  
   background-size: cover;
 
}



.box {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: antiquewhite;

 }
 
 .box div {
   width: 45%;
   height: 50%;
   padding-top: 35vh;
   margin-left: -1%;
   margin-top: -10%;
  
   white-space: normal;
  
 }






 
 @media screen and (max-width: 600px) {
   .banner{
      
      
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 6%;
      font-size: 12px;
      
     
   }

.res
{  display: flex;
   height: 99vh;
   justify-content: space-around;
}


.column {
   width: 100%;
   display: block;
   margin-bottom: 20px;
   margin-left: 2px;
 }
}
